node_modules
.env

/generated/prisma
prisma/migrations

/dist
*.js
*.js.map
!src/**/*.js

/uploads

/middleware/*.js
/shared/*.js
/src/**/*.js
/src/**/*.js.map

npm-debug.log
npm-error.log
.npm

.vscode
.idea
*.swp
*.swo
*~

.DS_Store
Thumbs.db